<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                  rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                  crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>


<title>Car Fuel Transaction App</title>
</head>
<body>

<!-- Bootstrap5  NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="col">
        <a class="navbar-brand text-primary px-2" href="{{ url_for('index') }}">Car Fuel Transaction App</a>
    </div>
    <div>
        <a class="text-primary px-3" href="{{ url_for('index') }}">Home</a>
        <span class="text-primary h5">|</span>
        <a class="text-primary px-3" href="{{ url_for('transactions') }}">Add Transaction</a>
        <span class="text-primary h5">|</span>
    </div>

    <div class="flex-row-reverse p-2">
        <a class="navbar-item text-primary px-3" href="{{ url_for('logout') }}">Logout</a>
    </div>

</nav>

<input type="text" id="base_url" value="{{base_url}}" hidden>

<div class="container-fluid">
<div class="container bg-light border my-2">
    <h2 class="text-primary py-2 text-center border-bottom m-2"> Add Car Fuel Transaction </h2>

    <div class="row justify-content-center">

        <form class="col-lg-6 p-3" id="form" method="post">

          <div class="form-group mt-3">
            <div class="input-group">
              <select class="form-control" required id="car_num_id">
                  {% for car in cars %}
                    <option value="{{car.car_number}}">{{car.car_number}}. {{car.make}}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
            
            
        <div class="form-group mt-3">
            <div class="input-group">
              <input type="text" class="form-control rounded" id="current_mileage" placeholder="Current mileage"
               required>
            </div>
        </div>

          <div class="form-group mt-3">
            <div class="input-group">
              
              <input type="text" class="form-control rounded" id="daily_mileage" placeholder="Daily mileage" required>
            </div>
          </div>

          <div class="form-group mt-3">
            <div class="input-group">
              <input type="date" class="form-control rounded" id="date" placeholder="Date" required>
            </div>
          </div>

          <div class="form-group mt-3">
            <div class="input-group">
              <input type="number" class="form-control rounded" id="liter" placeholder="Number of liters" required min="0">
            </div>
          </div>

          <div class="form-group mt-3">
            <div class="input-group">
              <input type="number" class="form-control rounded" id="price" placeholder="Price" required min="0">
            </div>
          </div>

          <hr class="hr-xs">
          <p id="output" class="p-3 h6 text-center"></p>
          <div class="text-center">
            <button class="btn btn-primary btn-block m-3" type="submit">Add Fuel Transaction</button>
            <a class="btn btn-primary btn-block m-3" href="/">Show Transactions</a>
          </div>



        </form>
    </div>

</div>
</div>

<script>
     $('#form').on('submit', function(e){

     e.preventDefault();
     var base_url = document.getElementById("base_url").value;

       $.ajax({
            type : "POST",
            url: base_url +'/transactions/',
            data: {
             car_num_id : $('#car_num_id').val(),
             current_mileage : $('#current_mileage').val(),
             daily_mileage : $('#daily_mileage').val(),
             date : $('#date').val(),
             liter : $('#liter').val(),
             price : $('#price').val(),

             dataType: "json",

            },

            success: function(data){

              document.getElementById("output").innerHTML  = "Added Successfully";
              document.getElementById("current_mileage").value  = "";
              document.getElementById("daily_mileage").value  = "";
              document.getElementById("daily_mileage").value  = "";
              document.getElementById("date").value  = "";
              document.getElementById("liter").value  = "";
              document.getElementById("price").value  = "";

            },
            error: function(data) {
                document.getElementById("output").innerHTML  = "Error Occurs";
            }


        });


             });
</script>
</body>
</html>